<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="../css/biografia.css">
<body>
    <div id="wrapper">
        <article class="instructions">
            <h1> Juan Camilo Ossa Quintero</h1>
            <section class="columns">
                <p> Estoy estudiando desarrollo de software por lo increible que es, su complejidad me gusta mucho </p>
                <p> Ademas de la gran demanda laboral que hay en el sector</p>
            </section>
        </article>
        <img src="https://i.scdn.co/image/ab67616d0000b2739c1f25d11a0339c46b64b478">
    </div>

</body>
</html>